footer{
    background-color: #f8f9fa;
    p{
        text-align:justify;   
    }
    .row{
        display: flex;
        justify-content: center;
        padding: 10px 30px;
    }
    a{
        text-decoration: none;
    }
}